body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img.card-img {
  width: 10px;
    height: 10px;
    margin: 20px;
    position: 'absoute';
}
.page {
  padding: 20px;
}

.card {
  color: orangered;
  position: 'vertical';
}

.card-text {
  color: 'white';
  position: 'horizontal';
}

.card-body {
  color: '';
  position: 'horizontal';
}

.card-title {
  color: 'black';
  position: 'horizontal';
}

.card-img-top {
  color: '';
  position: 'horizontal';
}

.container {
  display: 'flex';
  flex-direction: 'row';
}
  
